// 重置vant ui
.van-button--default {
  border: none;
}
.van-icon,
.van-icon::before {
  vertical-align: text-top;
}

.van-search__content {
  background-color: #e8e8e8;
}
// grid 字体
.van-grid-item__text {
  color: inherit;
}
.van-grid-item__content {
  padding: 10px;
}
// 疑问号
.van-icon-question-o:before {
  color: #256ef6;
}
// 必填项的icon *
.van-cell--required::before {
  left: 1rem;
}
// 重置tabs组件的高度时最好与vant用统一个单位px
.van-tabs {
  height: 100%;
  .van-tabs__content {
    height: calc(100% - 44px);
    .van-tab__pane {
      height: 100%;
    }
  }
  .van-tabs__line {
    z-index: unset;
  }
}
// 导航栏
.van-nav-bar {
  background-color: #256ef6;
  .van-nav-bar__arrow {
    height: 1.5rem;
    width: 1.5rem;
    background: url(../img/common/icon_back.png) no-repeat center;
    background-size: cover;
    &::before {
      display: none;
    }
  }
  .van-nav-bar__title {
    color: white;
  }
  .van-icon.van-icon-wap-nav {
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
  }
}
// 下拉菜单
.van-dropdown-menu {
  height: 46px;
  background-color: #256ef6;
  .van-dropdown-menu__title .van-ellipsis {
    color: white;
  }
  .van-dropdown-menu__title::after {
    color: white;
  }
}
